# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**</br>
<u>List popular languages for Data Science</u></br>
<u>Some of the popular languages that Data Scientists use are</u></br>
<u>Some of the commonly used libraries used by Data Scientists include</u></br>
<u>How to make table </u>

###### Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. scala

##### Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Pandas
3. Numpy

| Data Science Tools |
----------------------
Apache spark
kafka 
jupyter notebook

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Ayoub ET-toubi